body{
  font-family:"Helvetica", sans-serif;
}                  
a{color:#000088;}
a:hover{text-decoration:none;}
#component-list{          
  float:left;
  list-style:none;
  width:15em;
  margin:0px;
  padding:10px 0px;
  background:#efefef;
}
#component-list li{
    font-size: 70%;
    margin: 4px;
    overflow: hidden;
    border: 1px dashed;
    height: 4em;
    line-height:1.7;
    position:relative;
}                           
#component-list li:hover{background:#F7F3B9;}
#component-list li span{
  display:block;
  margin:2px;
}
#component-list li.active{border-style:solid;}
.child-components li {position:relative;padding:4px 0;margin:2px 0;}
.child-components li:hover{background:#FCF8C7;}
.code{font-weight:bold;color:#00cc33;}
li a{padding:3px;}
li a:hover{font-style:italic;background:#fff;}
.Draft{border-color:orange;}
         
#component-summary{
  position:fixed;
  top:60px;
  right:0px;
  left:250px;
  bottom:0px;
  margin:10px;
  width:700px;
  overflow:auto;
  min-height:80%;
}              

#component-summary img{width:90%;padding:10px 0px;margin:0px auto;border:2px solid #999;display:block;}

#explorer{
  border:1px solid red;
  position:fixed;
  top:60px;
  right:0px;
  left:250px;
  bottom:0px;
  margin:10px;
  width:320px;
  min-height:80%;                                                         
  visibility: hidden;
}   
h1 {
  font-size:1.6em; 
  font-weight:normal;
}
h2 {
  font-size:1.4em;
  font-weight:normal;
}
#component-name{position:fixed;
  top:0px;
  left:250px;
  padding:10px;
  margin:0px;
  
}
#component-name p{font-size:0.6em;margin:0px;}
#breakpoint-container{position:fixed;bottom:0px;right:0px;font-size:0.7em;visibility:hidden;}
#breakpoint-container a{padding:0px 4px;}
#component-status{position:fixed;top:40px;right:-150px;padding:1em 4em;
  -webkit-transform: rotate(45deg); 
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width:300px;text-align:center;}

.circle {
  border-radius: 50% 50% 50% 50%;
  bottom: 5px;
  height: 15px;
  position: absolute;
  right: 5px;
  width: 15px;
}
div.draft,
.draft .circle{background:#FFBF00;}
div.for-review,
.for-review .circle{background:#DD5252;}
div.signed-off,
.signed-off .circle{background:#54DD52;}